{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "printWidth": 80,
  "singleQuote": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}

